colorama==0.4.6
greenlet==3.2.4
playwright==1.56.0
pyee==13.0.0
typing_extensions==4.15.0

numpy==1.26.4
pandas==2.2.2

nltk==3.8.1
textblob==0.18.0.post0
vaderSentiment==3.3.2
deep-translator

matplotlib==3.9.0
seaborn==0.13.2
wordcloud==1.9.3

scikit-learn==1.5.1      

sentence-transformers==3.1.1

regex==2024.5.15
